name: PR unit tests

# Triggers the workflow on push or pull request events
on: [push, pull_request]

permissions: read-all

concurrency:
  # On master/release, we don't want any jobs cancelled
  # On PR branches, we cancel the job if new commits are pushed
  # More info: https://stackoverflow.com/a/70972844/1261287
  group: ${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}
  
jobs:
  build:
    name: PR unit tests
    strategy:
      matrix:
        os: [ubuntu-latest, macos-13]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    
    steps:
    - name: start docker
      if: ${{ matrix.os == 'macos-13' }}
      id: setup-docker
      uses: douglascamata/setup-docker-macos-action@v1.0.2
        
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: ^1.22
      id: go
    
    - uses: imjasonh/setup-crane@v0.4

    - name: Check out code into the Go module directory
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Run tests
      run: |
        make test
